<section>
<!--
<h1>Tour Of Heroes</h1>
<h2>  My heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero===sHero">
          <span class="badge">{{ hero.ID }}</span>
             {{ hero.Name }}
        </li>
    </ul>
    <hero-detail></hero-detail> -->
    <!-- <hero-detail [hero]="sHero"></hero-detail> -->
     <h2>My Heroes</h2>
    <ul class="heroes">
      <li *ngFor="let hero of heroes"
        [class.selected]="hero === sHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.ID}}</span> {{hero.Name}}
      </li>
    </ul>
    <hero-detail [hero]="sHero"></hero-detail>
</section>
